.form{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - 150px);
  font-size: 18px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #FFF;
}

.form_content{
  max-width: 550px;
  width: 100%;
  margin: 0 auto;
  padding: 30px 25px 40px 25px;
}

.title{
  font-size: 36px;
  font-family: "Roboto Slab";
}

.description{
  margin-top: 20px;
  margin-bottom: 40px;
}

.input{
  padding: 10px 0;
  width: calc(100% - 115px - 15px);
  margin-right: 15px;
  font: inherit;
  border: none;
  border-bottom: 2px solid #FF6E14;
  outline: none;
  background: transparent;
  color: #FF6E14;
}

.input::-webkit-input-placeholder{ font: inherit; color: #FF6E14; }
.input::-moz-placeholder{ font: inherit; color: #FF6E14; }
.input:-ms-input-placeholder{ font: inherit; color: #FF6E14; }
.input:-moz-placeholder{ font: inherit; color: #FF6E14; }

.input[readonly]{
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
  animation: fadeIn 2s;
  color: #FFF;
}

.button_shorten_url,
.button_copy{
  width: 115px;
  vertical-align: middle;
}

.button_copy{
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% { color: transparent; }
}

@media(max-width: 400px){
  .title{
    font-size: 30px;
  }

  .description{
    margin-top: 15px;
    margin-bottom: 25px;
    font-size: 17px;
  }

  .input{
    width: 100%;
    text-align: center;
  }
  
  .button_shorten_url,
  .button_copy{
    margin-top: 10px;
    width: 100%;
  }
}
